*{
    background-color: #F8F5F0;
    color: #4A4A4A;
    font-family: "IBM Plex Sans", sans-serif;
}

h1 {
    font-size: 38px;
    color: #2C3E50;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal ;
}

h2 {
    font-size: 32px;
    color: #2C3E50;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h3 {
    font-size: 26px;
    color: #2C3E50;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p {
    font-size: 20px;
    color: #4A4A4A;
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

#header{
    width: 100%;
    background-color: #EAEAEA;
    margin-top: 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#nameAndTitle{
    width: 50%;
    margin: 0 auto; 
    color: #2C3E50;
    text-align: center;
    background-color: #F8F5F0;
}

#nameAndTitle h1, h2, h3 {
    margin: 0;
}

#container{
    grid-template-columns: 25% auto;
    display: grid;
    grid-column-gap: 40px;
    padding: 20px;
    margin: 0px 20px 0px 20px;
}

#sidebar{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#content{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#content h3{
    text-align: center;
}

.list{
    list-style-type: none;
}

li {
    font-size: 16px;
    padding-top: 4px;
}

.card h3 {
    padding-left: 40px;
}

#contactList i {
    width: 30px;
    color: #4A4A4A;
}